* {
    -webkit-transition: 300ms;
    transition: 300ms;
}

body {
    height: 100%;
    width: 100%;
    background: purple;
    font-family: 'Arimo', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #010b26;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
    margin-top: 10vh;
    margin-left: 1rem;
    margin-right: 1rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.card {
    background: purple;
    width: 100%;
    max-width: 90%;
    margin: 1em;
    border-radius: 10px;

}
.card-in {
    background: #ffffff;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 90%;
    margin: 1em;
    border-radius: 10px;

}

.card:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
}

@media screen and (max-width: 500px) {
    .card {
        width: 95%;
        max-width: 95%;
        margin: 1em;
        display: block;
    }

    .container {
        padding: 0;
        margin: 0;
    }
}

.left-container{
    height: 100%;
    width: 60%;
    margin: auto;
}

form {
    border: 1px solid grey;
    background: white;
    height: 80%;
    width: 100%;
    margin-top: 2%;
    padding: 2%;
    border-radius: 1%;
    text-align: -webkit-left;
}
.editForm{
    display: none;
}

