body {
    background: purple;
}

.card {
    display: inline-flex;
    text-align:  center;
    float: right;
    height: 30%;
    margin-left: .7%;
}

.card-container {
    margin-right: 2%;
}

.left-container{
    height: 100%;
}

form {
    border: 1px solid grey;
    background: white;
    height: 80%;
    width: 30%;
    margin-top: 2%;
    margin-left: 2%;
    padding: 2%;
}



