body {
    background: purple;
}

.card {
    /*flex: 0 0 auto;*/
    /*display: inline-block;*/
    text-align:  center;
    float: right;
    /*height: 30%;*/
    margin-left: .7%;
    margin-right: 1%;
    margin-bottom: 2%;
}

.left-container{
    height: 100%;
}

form {
    border: 1px solid grey;
    background: white;
    height: 80%;
    width: 40%;
    margin-top: 2%;
    margin-left: 2%;
    padding: 2%;
    border-radius: 1%;
}



